body{
    background-image: url('images/bg.jpeg') !important ;
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Mochiy Pop P One', sans-serif;
}

.image{

    width: 120px;
    height:100px;
    margin-left: 50px;
}
.nav-link{
    color:black !important;
    font-size: 22px;
    margin-right: 30px;
    font-weight: bold;

}

.dropdown-menu{

    background-color:#75acc5 !important ;
    color: white;

}

.dropdown-item{
    color: rgb(97, 68, 68);
    font-size: 20px;
    font-weight: bold !important;
}
.dropdown-item:hover{
    background: color #285569 !important;
    font-weight: 400;
    font-size: 18px;
}
.heading>h2,h1 {
    font-family: 'Mochiy Pop P One', sans-serif;
    text-align: center;
    font-weight: 300;
    color:#172f3a ;
    margin-bottom: 50px;
    margin-top: 50px;
}

.card-title{
    font-family: 'Mochiy Pop P One', sans-serif;
    font-weight: 700;
    text-align: center;
}

.abthead{
    font-family: 'Mochiy Pop P One', sans-serif;
    color: #172f3a;
     font-weight: 400;
     font-size: 30px;
}
.fa-copyright{
    font-size: 20px !important ;
}
.footer,.fa-whatsapp,.fa-envelope-o{
    font-size: 20px;
}
.footer{
    margin-top: 30px;
    background-color:#387997;
    color: white;
}
.footer>a{
    font-weight: 700 !important;
}
